<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./index.js"></script>
    <link rel="stylesheet" href="./css/style.css">
   <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
</head>
<body>


      <h1 class="titulo">bienvenido {{{nombre}}}</h1>
      <div class="infoLogIn">
         <h3 class="correoLogIn">Tu correo es: {{{email}}}</h3>
      <form action="/auth/logout" method="get" id="btnLogout">
       <button type="submit" value="submit" class="btnLogOut">Desloguearse</button>
      </form> 
      </div>

    <div class="formularioContainer">
        <form onsubmit="return agregarProducto(this)">
            <input type="text" id="nombre" placeholder="Nombre del producto..." class="input">
            <input type="text" id="precio" placeholder="Precio del producto..." class="input">
            <input type="text" id="img" placeholder="Imagen del producto..." class="input">
            <input type="submit" class="btn">
        </form>
    </div>
    {{{body}}}
    
        <div id="productosContenedor"></div>


 <h1 class="titulo">Centro de mensajes</h1>
 <div class="formularioMensajes">
        <form onsubmit="return agregarMensaje(this)" class="formulario">
            <input type="text" id="nombreMensaje" placeholder="Ingresa tu nombre..." class="input">
            <input type="text" id="apellidoMensaje" placeholder="Ingresa tu Apellido..." class="input">
             <input type="text" id="edadMensaje" placeholder="Ingresa tu edad..." class="input">
             <input type="text" id="mailMensaje" placeholder="Ingresa tu correo..." class="input">
                <input type="text" id="aliasMensaje" placeholder="Ingresa tu alias..." class="input">
             <input type="text" id="avatarMensaje" placeholder="Ingresa tu URL de avatar..." class="input">
               <input type="text" id="mensaje" placeholder="Mensaje a enviar" class="input">
            <input type="submit" class="btn">
        </form>
        </div>

        <div id="chatContenedor"></div>
</body>
</html>