<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
           <link rel="stylesheet" href="../style.css">
           <script src="https://kit.fontawesome.com/4834373349.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="navBarContainer">
    <b class="NavBarLogo">Tech-Store</b>
    <p ><a href="/auth/register" class="link"><i class="fa-solid fa-user"></i> Ir a registrarse</a></p>
  </div>

  <div class="ContainerArea">
  <div class="areaFormularioContainer">

    <form action="/auth/login" method="post" id="userSubmit" class="formularioContainer">
    <b class="tituloFormulario">Ingrese sus datos para entrar a la pagin</b>
      <input type="email" class="input" name="username" placeholder="Ingrese su email" required />
      <input type="password" class="input" name="password" placeholder="Ingrese su contraseña" required />
      <button type="submit" value="submit" class="btnRegistroFormulario" ><i class="fa-solid fa-door-open"></i>  Ingresar</button>
      
    </form>
    </div>
    </div>
</body>
</html>