<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: #3a3a3a; font-family:poppins ">Hasta luego</h1>
    <button style="background-color: #3aada1; border:none; padding:10px"><a href="/auth/register" style="color: #fff; padding:10px">Ir a registrase</a></button>
    <button style="background-color: #3aada1; border:none  ;padding:10px"><a href="/auth/login"  style="color: #fff; padding:10px">Ir a logearse</a></button>
</body>
</html>