<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         <link rel="stylesheet" href="../style.css">
            <script src="https://kit.fontawesome.com/4834373349.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="navBarContainer">
        <b class="NavBarLogo">Tech-Store</b>
        <p class="textoLink"><a href="/auth/login" class="link"><i class="fa-solid fa-user"></i> Ir a logearse</a></p>
    </div>

    {{!-- <h1 style="color: #1e1e1e; font-size: 30px; font-family:poppins; marging:20px">Ingrese sus datos para registrarse</h1>
    <form action="/auth/register" method="post">
    <input type="email" name="username" placeholder="Ingrese su email" required style="padding: 8px; border-radius:10px">
    <input type="password" name="password" placeholder="Ingrese su contraseña" required style="padding: 8px; border-radius:10px">
      <input type="email" name="name" placeholder="Ingrese su email" required style="padding: 8px; border-radius:10px">
    <input type="password" name="location" placeholder="Ingrese su contraseña" required style="padding: 8px; border-radius:10px">
      <input type="email" name="phoneNumber" placeholder="Ingrese su email" required style="padding: 8px; border-radius:10px">
    <input type="submit" value="Registrarse" style="padding: 10px; border-radius:10px; background-color:#571fff; color:#fff; border:none; cursor:pointer">
</form> --}}

<div class="ContainerArea">
<div class="areaFormularioContainer">
       
    <form action="/auth/register" method="post" class="formularioContainer">
    <b class="tituloFormulario">Ingrese sus datos para registrarse</b>
    <input type="email" name="username" placeholder="Ingrese su email" required class="input inputUsername">
    <input type="password" name="password" placeholder="Ingrese su contraseña" required class="input inputPassword">
      <input type="text" name="name" placeholder="Ingrese su nombre" required class="input inputName">
       <input type="text" name="age" placeholder="Ingrese su edad" required class="input inputName">
    <input type="text" name="location" placeholder="Ingrese su ubicacion" required class="input inputLocation">
      <input type="text" name="phoneNumber" placeholder="telefono (AGREGAR ZONA HORARIA)" required class="input inputPhoneNumber">
    <button type="submit" value="Registrarse" class="btnRegistroFormulario"><i class="fa-solid fa-pen-to-square"></i>  Registrarse</button>
</form>
</div>
</div>
</body>
</html>