<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         <link rel="stylesheet" href="../css/productos.css">
</head>
<body>
    <h1 style="color: #1e1e1e; font-size: 30px; font-family:poppins; marging:20px">Ingrese sus datos para registrarse</h1>
    <form action="/auth/register" method="post">
    <input type="email" name="username" placeholder="Ingrese su email" required style="padding: 8px; border-radius:10px">
    <input type="password" name="password" placeholder="Ingrese su contraseña" required style="padding: 8px; border-radius:10px">
    <input type="submit" value="Registrarse" style="padding: 10px; border-radius:10px; background-color:#571fff; color:#fff; border:none; cursor:pointer">
</form>

 <button style="padding: 10px; border-radius:10px; background-color:#433179; color:#fff; border:none; cursor:pointer; margin:5px"><a href="/auth/login" style="color: white;">Ir a logearse</a></button>
</body>
</html>