
* { 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.mensajeAgregaProducto{
   text-align: center;
    font-weight: 500;
    color: #2f2f2f;
}

.deslogueoInfo { 
    font-family: "poppins", sans-serif;
    color: #424244;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0px 20px;
}

.titulo { 
    font-weight: 600;
    color: #3a188f;
    margin: 5px 20px;
    text-align: center;
}

.tituloMensaje{ 
    color: #533434;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 20px;
    text-align: center;
}

.formularioContainer{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#productosContenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1e1e1e;
    padding: 5rem 0px;
}

.formularioProductos {
    width: 20rem;
    height: auto;
    background-color: #ebebeb;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 1rem;
}



.productoItem{ 
    width: 15rem;
    height: auto;
    margin: 20px;
}




.nombreItem{ 
    color: #1e1e1e;
    font-weight: 500;
}

.precioItem{ 
    font-size: 1.4rem;
    font-weight: 400;
}

.mensajeItem {
    width: 16rem;
    height: auto;
    margin: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    padding: 8px;
    border-radius: 1rem;
}

.nombreMensaje{ 
    font-weight: 500;
    color: #1e1e1e;
    font-size: 1.2rem;
}

.contenidoMensaje{ 
    font-weight: 300;
    color: #23a136;
    font-size: 0.7rem;
}

.fechaMensaje{ 
    font-weight: 400;
    color: #424244;
    font-size: 0.8rem;
}

#chatContenedor{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.tituloMensaje { 
    text-align: center;
}

.btn{ 
    background-color: #481cb5;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
}

.input{ 
    width: 15rem;
    padding: 5px;
    margin: 0px 10px;
}

.mensaje { 
    font-size: 1.3rem;
    padding: 10px 0px;
    font-weight: 500;
}

.FormularioTitulo{ 
    padding: 20px;
    font-weight: 600;
    text-align: center;
    color: #1e1e1e;
}

.formularioArea{ 
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btnFormularioLogIn{ 
    color: #fff;
    background-color: rgb(253, 156, 145);
    padding: 5px;
    border: none;
    transition: 0.5s ease;
}

.btnFormularioLogIn:hover { 
    background-color: rgb(255, 103, 86);
}

.infoLogIn{ 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.correoLogIn{ 
    padding: 8px;
}

.btnLogOut{ 
    background-color: rgb(188, 130, 43);
    color: #fff;
    padding: 8px ;
    border: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    cursor: pointer;
}

.btnLogOut:hover { 
    background-color: rgb(132, 92, 32);
}

.formularioMensajes{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{ 
    width: 80%;
    height: auto;
}

.input{ 
    margin: 10px;
}

.subtitulo { 
    color: orange;
}


.btnProductoFaker { 
    background-color: #2395b5;
    border: none;
    color: #fff;
    margin: 10px;
    padding: 4px 10px;
    border-radius: 1rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.btnProductoFaker:hover { 
    background-color: #1e697d;
}

.btnInformacion { 
    background-color: #2395b5;
    border: none;
    color: #fff;
    margin: 10px;
    padding: 4px 10px;
    border-radius: 1rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.btnInformacion:hover { 
    background-color: #1e697d;
}

.navegacionArea { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

.contenedorInformacionProceso { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;

}

.dataContenedor { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}

.listaInfo { 
    list-style: none;
    color: #424244;
}

.tituloInfo { 
    color: rgb(45, 30, 120);
}

.btnAgregarProducto {
    background-color: #1fa533;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border: none;
    margin: 20px;
    transition: 0.5s ease;
}

.btnAgregarProducto:hover { 
    background-color: #1e6629;
}

.btnEliminarProducto{ 
    background-color: #661e1e;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border: none;
}

.productoCarritoContenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    flex-wrap: wrap;
    padding: 5rem 0px;
}


.navBarContainer{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.navBarContainer{ 
    width: 100%;
    height: 3rem;
    background-color: #264051;
}

.navLinkList{ 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navLinkList li { 
    margin: 10px;
}

.navLinkList li a { 
    color: rgb(211, 211, 211); 
    text-decoration: none;
    transition: 0.2s ease;
}

.navLinkList li a:hover { 
    color: #fff;
}

.NavBarLogo{ 
    color: #fff;
    font-weight: 500;
    margin: 0px 20px;
}

.infoUsuarioContainer{ 
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center

}

.InfoUsuarioItem{ 
    width: auto;
    height: auto;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUsuario{ 
    width: 10rem;
    height: 10rem;
    margin: 5px;
}




.InfoEcommerceContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1e1e1e;
    padding: 3.5rem 0px;
}
.infoEcommerceItem {
    width: 18rem;
    height: 10rem;
    background-color: #141414;
    margin: 5px;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 20%);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    flex-direction: column;
}

.infoEcommerceItem b { 
    font-size: 1.3rem;
    font-weight: 400;
}

.infoEcommerceItem p { 
    font-size: 0.8rem;
    text-align: center;
}

.containerProductosFaker { 
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}


.productoItem {
    width: 15rem;
    height: 26rem;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.432);
    border-radius: 1rem;
    transform: translateY(-1%);
}

.nombreProducto{ 
    font-family: "poppins", sans-serif;
    font-size: 1.2rem;
    margin: 5px 0px;
    color: #1e1e1e;
}

.precioProducto{
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    margin: 5px 0px;
    color: #1e1e1e;
    color: rgb(255, 100, 83);
}

.tituloPagina{ 
    text-align: center;
    font-family: "poppins",sans-serif;
    font-size: 2rem;
    color: #1e1e1e;
}

.libreria{ 
    color: rgb(255, 100, 83);
}

.subtitulo { 
    color: green;
}

.areaFormularioContainer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px;
}

.formularioContainer { 
    width: 30rem;
    height: auto;
    background-color: #f8f8f8;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(64, 108, 153, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 15px;
    transition: 0.5s ease;
}


.formularioContainer:hover { 
    transform: translatey(-1%);
}

.input {
    padding: 5px 30px;
    margin: 10px;
    width: 20rem;
}

.tituloFormulario { 
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #1d414b;
}

.btnRegistroFormulario{ 
    background-color:rgb(77, 40, 132);
    color: #fff; 
    padding: 5px;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    padding: 5px 10px;
    transition: 0.5s ease;
}

.btnRegistroFormulario:hover{ 
    background-color:rgb(60, 36, 96);
}

.navBarContainer { 
    width: 100%;
    height: 3rem;
    background-color: #264051;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarLogo { 
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin: 0px 20px;
}

.link{ 
    text-decoration: none;
    color: #fff;
    font-family: "poppins", sans-serif;
    margin: 0px 20px;
}

.textoLink{ 
    font-size: 1rem;
}

.ProductosInfoContainer{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.InfoPosteoProductosContainer{ 
    width: 30rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    
}

.areaFormularioContainer {
    width: 30rem;
    height: auto;
    margin: 10px;
    transform: translatey(-1%);
}


.areaMensajeContainer {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem 0px;
}

.infoAreaMensaje {
    width: 30rem;
    height: 15rem;
    margin: 10px;
    border-radius: 1rem;
}
.mensajeFormularioArea{ 
    width: 30rem;
    height: auto;
}

.formulario{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0
    ;

}

.registroCheck{ 
    background-color: #1d4b22;
    color: #fff;
    padding: 5px 10px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.registroCheck:hover { 
    background-color: #ffffff;
    color: #244027;
}

.infoText {
    width: 23rem;
    height: 10rem;
    margin: 5px;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.ContainerArea{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon{ 
    color: rgb(124, 17, 254);
}

.tituloItem, .textItem{ 
    color: #fff;
}

.cantidadPagar {
    background-color: #fff;
    color: #141414;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px rgb(177 23 23 / 20%);
    margin: 20px;
}

.cantidad{ 
    color: rgb(173, 56, 56);
}

#btnEliminarProductoCarrito { 
    color: #fff;
    background-color: rgb(201, 46, 46);
    padding: 5px 10px;
    margin: 20px;
    border: none;
    border-radius: 1rem;
    transition: 0.5s ease;
}

#btnEliminarProductoCarrito:hover{
    background-color: rgb(255, 33, 33);
}

.btnComprarCarritos{ 
    background-color: rgb(216, 18, 18);
    color: #ffffff;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px rgb(177 23 23 / 20%); 
    font-size: 1rem;
    font-weight: 600;
    border: none;
    margin: 20px;
    transition: 0.5s ease;
}

.btnComprarCarritos:hover { 
    background-color: rgb(255, 0, 0);
}

.AreaFiltradoContainer { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: #191919;
    flex-wrap: wrap;
}

.ItemOpcionFiltrado { 
    width: 9rem;
    height: auto;
    margin: 20px;
}

.btnBuscarFiltrado {
    background-color: #ff0044;
    padding: 5px 25px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    margin: 0px 20px;
}
.btnBuscarFiltrado:hover { 
    background-color: #ff3964;
}

.item { 
    background-color: #ffffff;
    padding: 7px 30px;
    border: none;
    border-radius: 0.5rem;
}